body {
    font-family: 'Roboto', sans-serif;
   background-image: url("../images/backgroundpizza3.jpeg");
    background-color: #331313; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 10px;
    opacity: 1.0;
    margin: 0;
    font: larger;
    color: white;
    @media screen and (min-width: 480px) {
        
    }
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
   /* float: right;*/
   direction: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

.navbar {
  background-color: black !important;
  padding: 0px;
  text-align: center;
  
}

.motieno-pizza-icon {
  width: 38px;
  font-size: 30px;
  color: chocolate;
}
.nav-link {
  color: white !important;
}

nav a:hover {
  color: goldenrod !important;
} 
 
  .one{
      /* border: 2px solid yellow; */
      background-image: url("../images/Pizza.jpeg");
      /*background-position: center;*/
      background-size: cover;
      background-repeat: no-repeat;
      margin-top: 0px;
      background-position: 100% 10px;
      width: 100%;
  }
  .two{
      /* border: 2px red solid; */
      margin-top: 2px;
      height: 250px;
      width: 100%;
  }
  .two, .three, .four {
    padding: 3%;
  }
  h1 {
    color: whitesmoke;
    font-size: 100px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 15%;
  }
  h3,h4 {
    color: whitesmoke;
    font-style: oblique;
    margin-left: 380px;
    font-weight: 900;
  }
  
  .pizzaImages{
    background-position: center;
    background-size: cover;
    text-align: center;
    color: black;
}

.carousel-inner {
    max-height: 70vh !important;
  }

  .name {
    text-align: center;
    margin: 2vh 0vh 0vh 2vh;
  }

#mode {
  width: 60%;
  height: 30px;
}
.socialm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 0;
}

.socialm div {
  margin-right: 10px;
  
}

.footer {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 20px;

}
.customer {
  font-size: larger;
  color: chocolate;
  margin-left: 10px;
  margin-right: 0px;
}
legend {
  color: chocolate;
}

#butt {
  background-color: #F19201;
  color: white;
  height: 40px;
  width: 150px;
  border: #F19201;
  margin-left: 80px;
}